mixin ComingSoon  
  .card
    .card-body.overflow-hidden.p-lg-6
      .row.align-items-center
        .col-lg-5.col-xxl-6
          img.img-fluid(src=`${CWD}assets/img/icons/spot-illustrations/4.png` alt='')
        .col-lg-7.col-xxl-6.ps-lg-4.my-5.text-center.text-lg-start
          span.badge.badge-soft-success.rounded-pill Coming soon
          h3.mt-1.fs-1.fs-sm-3 We are working on this page
          p We are continuously working to bring all the pages from the Bootstrap 4 version of #{name} here in the Bootstrap 5. Stay tuned!
          a(href=`${CWD}${paths['getting-started']}`).btn.btn-sm.btn-falcon-primary Getting started
