extends ../layouts/LayoutTheme
include ../mixins/home/dashboard/Dashboard

prepend scripts
  script(src=`${CWD}vendors/echarts/echarts.min.js`)

block navbarTop

block navbarVertical
  +NavbarTop({
    toggleID: 'navbarStandard',
    links: true,
    search: false,
    changelog: true
  }).navbar-expand-lg

block navbarScript

block content
  +Dashboard