extends ../layouts/LayoutComponent
include ../mixins/home/dashboard/Dashboard

prepend scripts
  script(src=`${CWD}vendors/echarts/echarts.min.js`)

block navbarVertical
  +NavbarVertical

block navbarTop 
  +NavbarTop({
    toggleID: 'navbarVerticalCollapse',
    links: false,
    search: true
  }).navbar-expand

block navbarScript

append content
  +Dashboard