extends ../../../layouts/LayoutComponent

block prepend scripts
  script(src=`${CWD}vendors/lodash/lodash.min.js`)
  script(src=`${CWD}vendors/echarts/echarts.min.js`)
  script(src=`${CWD}vendors/dayjs/dayjs.min.js`)
  script(src=`${CWD}assets/js/echarts-example.js`)

block append content

  .row.g-3.mb-3
    .col-lg-6
      +ComponentCard({
        title:'Basic candlestick chart',
        anchor:true
      }).h-100(dir='ltr')
        // Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-candlestick-chart.js
        // If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js
        .echart-candlestick-chart-example(style="min-height: 300px;" data-echart-responsive="true")

    .col-lg-6
      +ComponentCard({
        title:'Candlestick mixed chart',
        anchor:true
      }).h-100(dir='ltr')
        // Find the JS file for the following chart at: src/js/charts/echarts/examples/candle-stick-mixed-chart.js
        // If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js
        .echart-candlestick-mixed-chart-example(style="min-height: 300px;" data-echart-responsive="true")
    

