extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutBasic
include ../../../mixins/authentication/ConfirmMailContent


block wrapperContent
  +LayoutBasic
    +ConfirmMailContent.text-center