extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutBasic
include ../../../mixins/authentication/ForgotPasswordForm

block wrapperContent
  +LayoutBasic.text-center
    h5.mb-0 Forgot your password?
    small Enter your email and we'll send you a reset link.
    +ForgotPasswordForm.mt-4

