extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutBasic
include ../../../mixins/authentication/PasswordResetForm

block wrapperContent
  +LayoutBasic
    h5.text-center Reset new password
    +PasswordResetForm({
      password: { attrs: { placeholder: 'New Password' } },
      confirmPassword: { attrs: { placeholder: 'Confirm Password' } }
    }).mt-3  
