mixin TicketFilteringForm
  .card.scrollbar.shadow-none.shadow-show-xl&attributes(attributes)
    .card-header.bg-light.d-none.d-xl-block
      h6.mb-0 Filter
    .card-body
      form
        .mb-2.mt-n2
          label.mb-1 Priority
          select.form-select.form-select-sm
            option None
            option Urgent
            option High
            option Medium
            option Low
        .mb-2
          label.mb-1.mt-2 Source
          select.form-select.form-select-sm
            option None
            option Email
            option Phone
            option Forum
            option(selected) Facebook
            option Twitter
            option Chat
            option Whatsapp
            option Portal
            option Bots
            option External Email
            option Ecommerce
            option Feedback Widget
        .mb-2
          label.mb-1.mt-2 Status
          select.form-select.form-select-sm
            option None
            option Recent
            option Overdue
            option Closed
            option Remaining
            option Responded
        .mb-2
          label.mb-1.mt-2 Group
          select.form-select.form-select-sm
            option None
            option My Group
            option Billing
            option Customer Support
            option Enhancement
            option Unassigned
        .mb-2
          label.mb-1.mt-2 Agent
          select.form-select.form-select-sm
            option None
            option Anindya
            option Nowrin
            option Khalid
        .mb-2
          label.mb-1.mt-2 Type
          select.form-select.form-select-sm
            option None
            option Question
            option Incident
            option Problem
            option Feature Request
            option Refund
        .mb-2
          label.mb-1.mt-2 Category
          select.form-select.form-select-sm
            option None
            option General Issue
            option Maintenance
            option Engineering
            option Accounts
            option Feedback
            option(selected) Support
            option Test Helpdesk
        .mb-2
          label.mb-1.mt-2 Tags
          select.form-select.form-select-sm
            option None
            option Sales
            option Request
            option Complaint
            option Feedback
            option Support
        div
          label.mb-1.mt-2 Subscription
          select.form-select.form-select-sm
            option None
            option Active
            option Inactive
            option Expired
            option Pending
    .card-footer.border-top.border-200.py-x1
      button.btn.btn-primary.w-100 Update

