mixin CardAuthenticationSplit
  .card&attributes(attributes)
    .card-header.bg-circle-shape.bg-shape.text-center.p-2
      a(href=`${CWD}${paths['default-dashboard']}`).font-sans-serif.fw-bolder.fs-4.z-index-1.position-relative.link-light.light falcon
    .card-body.p-4
      block