mixin ForgotPasswordForm(config)
  - var config = Object.assign({layout: 'basic'}, config)

  form&attributes(attributes)
    input.form-control(type='email' placeholder='Email address')
    .mb-3
    button.btn.btn-primary.d-block.w-100.mt-3(type='submit' name='submit') Send reset link

  a(href="#!").fs--1.text-600 I can't recover my account using this page
    span.d-inline-block.ms-1 &rarr;