mixin PasswordResetForm(config)
  form&attributes(attributes)
    .mb-3
      if config.password.label
      label.form-label(for=config.password.attrs.id)=config.password.label
      input.form-control(type='password')&attributes(config.password.attrs)
    .mb-3
      if config.confirmPassword.label
        label.form-label(for=config.confirmPassword.attrs.id)=config.confirmPassword.label
      input.form-control(type='password')&attributes(config.confirmPassword.attrs)
    button.btn.btn-primary.d-block.w-100.mt-3(type='submit' name='submit') Set password