mixin WizardPager
  .px-sm-3.px-md-5
    ul.pager.wizard.list-inline.mb-0
      li.previous
        button(type="button" ).btn.btn-link.ps-0
          span.fas.fa-chevron-left.me-2(data-fa-transform="shrink-3")
          | Prev
      li.next
        button(type='submit').btn.btn-primary.px-5.px-sm-6 Next
          span.fas.fa-chevron-right.ms-2(data-fa-transform="shrink-3") 