mixin CardDipositeStatus
  .card.bg-light&attributes(attributes)
    .card-body.p-3
      p.fs--1.mb-0
        a(href="#!")
          span.fas.fa-exchange-alt.me-2(data-fa-transform="rotate-90")
          | A payout for 
          strong $921.42 
          | was deposited 13 days ago
        | . Your next deposit is expected on 

        strong Tuesday, March 13.