extends LayoutTheme

block append content
  block feedBanner
  .row.g-0
    .col-lg-8.pe-lg-2
      block feed
    .col-lg-4.ps-lg-2
      .sticky-sidebar
        block feedSideBar

  block feedFooter