mixin BreadcrumbExampleDemo
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item.active(aria-current='page') Home
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active(aria-current='page') Library
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item
        a(href='#') Library
      li.breadcrumb-item.active(aria-current='page') Data
      
mixin BreadcrumbDividerExample
  nav(style="--falcon-breadcrumb-divider: '»';" aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active(aria-current='page') Library


mixin BreadcrumbSvgDividerExample
  nav(style!="--falcon-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23748194'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active(aria-current='page') Library