mixin FigureExampleDemo
  figure.figure
    img.figure-img.img-fluid.rounded(src=`${CWD}assets/img/team/24.jpg`, alt='...')
    figcaption.figure-caption A caption for the above image.


mixin FigureCaptionAlignmentDemo
  figure.figure
    img.figure-img.img-fluid.rounded(src=`${CWD}assets/img/team/25.jpg`, alt='')
    figcaption.figure-caption.text-end A caption for the above image.
