mixin ResponsiveImageDemo
  img.img-fluid.rounded(src=`${CWD}assets/img/generic/9.jpg`, alt='')


mixin ImageThumbnailDemo
  img.img-thumbnail(src=`${CWD}assets/img/team/6.jpg`, alt='' )

mixin AlignImageDemo
  img.rounded-1.float-start.w-25.mt-3(src=`${CWD}assets/img/team/24.jpg`, alt='')
  = '\n'
  img.rounded-1.float-end.w-25.mt-3(src=`${CWD}assets/img/team/25.jpg`, alt='')   




