mixin PageHeaderExampleDemo
  +PageHeader({title:"Page Title"})
    p.mt-2 The page header is a nice little feature to add appropriate spacing around the headings on a page. This is particularly helpful on a web page where you may have several post titles and need a way to add distinction to each of them.
    a(href=`${CWD}${paths['getting-started']}` target='_blank').btn.btn-link.ps-0.btn-sm Get Started
      span.fas.fa-chevron-right.ms-1.fs--2