extends ../../../layouts/LayoutSplit
include ../../../mixins/authentication/ForgotPasswordForm

block append variables
  -
    var background = {
      image: `${CWD}assets/img/generic/17.jpg`,
      className: 'overlay',
      attrs: { style: 'background-position: 50% 76%;' }
    }

block splitContent
  .text-center
    h4.mb-0  Forgot your password?
    small Enter your email and we'll send you a reset link.
    +ForgotPasswordForm({ layout: 'split' }).mb-3.mt-4

