extends ../../../layouts/CardLayout
include ../../../mixins/authentication/ForgotPasswordForm

block append variables
  - var attrsLayout = { class: 'container-fluid' }

block cardLeft

  p.mb-0.mt-4.mt-md-5.fs--1.fw-semi-bold.text-white.opacity-75 Read our 
    a(href='#!').text-decoration-underline.text-white terms
    |  and 
    a(href="#!").text-decoration-underline.text-white conditions 

block cardRight
  .text-center.text-md-start
    h4.mb-0  Forgot your password?
    p.mb-4 Enter your email and we'll send you a reset link.

  .row.justify-content-center
    .col-sm-8.col-md
      +ForgotPasswordForm.mb-3
